{% extends "base.html" %}
{% block content %}

<div class="section-header">
    <h2>ITSM Панель</h2>
</div>

<div class="cards-grid">

    {% if is_admin or is_tech %}
    <a class="card card-link" href="{% url 'service_desk:incidents_list' %}">
        <h3 class="card-title">Инциденты</h3>
        <p class="card-text">Просмотр и обработка инцидентов</p>
    </a>
    {% endif %}

    <a class="card card-link" href="{% url 'service_desk:services_list' %}">
        <h3 class="card-title">Услуги</h3>
        <p class="card-text">Каталог ИТ-услуг</p>
    </a>

    <a class="card card-link" href="{% url 'service_desk:chat_list' %}">
        <h3 class="card-title">Чат</h3>
        <p class="card-text">Внутренняя переписка сотрудников</p>
    </a>

</div>

{% endblock %}
